@media screen and (max-width: 1261px)
  .news-page
    .main
      width: 95%
    .content
      .topNews
        &__left
          &-img
            width: 400px
            height: 226px
        &__right
          .h2
            font-size: 30px
          .newsInfo
            font-size: 14px
            line-height: 24px
      .news
        &__item
          &-txt
            .h3
              font-size: 16px

@media screen and (max-width: 1093px)
  .news-page
    .content
      .news
        &__item
          margin-right: 2%
          margin-bottom: 2%
          flex: 0 1 32%
          &-txt
            .h3
              font-size: 15px

@media screen and (max-width: 1000px)
  .news-page
    .content
      .topNews
        &__left
          width: 100%
          &-img
            //width: 458px
            //height: 259px
            width: 100%
            height: max-content
            aspect-ratio: 434 / 245
        &__right
          padding: 20px 20px 20px 29px
          .h2
            font-size: 27px
          .newsInfo
            font-size: 13px
            line-height: 21px
      .news
        &__item
          flex: 0 1 48.5%
          margin-right: 3%
          &:nth-child(3n)
            margin-right: 3%
          &:nth-child(2n)
            margin-right: 0
