.news-page
    button.dark-btn Dark theme
    .main
        h1.h1 News
        ul.filter Сортувати:
            li.filter__item.active за датою
            li.filter__item за популярністю
        .content
            .content__top
                a(href="#").topNews
                    .topNews__left
                        .topNews__left-img
                            picture.topImg
                                source(media="(max-width: 500px)" srcset="img/img-first-mob.jpg")
                                img(src="img/img-first.jpg" alt="Favbet")
                    .topNews__right
                        h2.h2 FAVBET Tech став партнером жіночого tech-ком’юніті Wtech
                        p.newsInfo Нова співпраця між FAVBET Tech та Wtech покликана підтримувати жіночі ініціативи у технологічній галузі. Деталі про проєкти, освіту та події, спрямовані на розвиток рівноправності в IT-галузі.
                        time(datetime="2023-01-13").newsDate 13 січня 2023
            .content__bottom
                .news
                    a(href="#").news__item
                        .news__item-img
                            picture
                                source(media="(max-width: 500px)" srcset="img/img-second-mob.jpg")
                                img(src="img/img-second.jpg" alt="Favbet")
                        .news__item-txt
                            h3.h3 Кібервійсько Мінцифри, нові функції «Дії» та секрети продуктивності
                            time(datetime="2023-01-13").newsDate 13 січня 2023
                    a(href="#").news__item
                        .news__item-img
                            picture
                                source(media="(max-width: 500px)" srcset="img/img-third-mob.jpg")
                                img(src="img/img-third.jpg" alt="Favbet")
                        .news__item-txt
                            h3.h3 Кожний виграний бій, в якому використано нашу допомогу, доводить, що українці непереможні
                            time(datetime="2023-01-13").newsDate 13 січня 2023
                    a(href="#").news__item
                        .news__item-img
                            picture
                                source(media="(max-width: 500px)" srcset="img/img-fourth-mob.jpg")
                                img(src="img/img-fourth.jpg" alt="Favbet")
                        .news__item-txt
                            h3.h3 Код успіху. Як українська IT-індустрія зростає навіть під час війни
                            time(datetime="2023-01-13").newsDate 13 січня 2023
                    a(href="#").news__item
                        .news__item-img
                            picture
                                source(media="(max-width: 500px)" srcset="img/img-fifth-mob.jpg")
                                img(src="img/img-fifth.jpg" alt="Favbet")
                        .news__item-txt
                            h3.h3 Кібервійсько Мінцифри, нові функції «Дії» та секрети продуктивності
                            time(datetime="2023-01-13").newsDate 13 січня 2023
                    a(href="#").news__item
                        .news__item-img
                            picture
                                source(media="(max-width: 500px)" srcset="img/img-sixth-mob.jpg")
                                img(src="img/img-sixth.jpg" alt="Favbet")
                        .news__item-txt
                            h3.h3 Кібервійсько Мінцифри, нові функції «Дії» та секрети продуктивності
                            time(datetime="2023-01-13").newsDate 13 січня 2023